name: Pages

on:
  workflow_dispatch:
  push:
    branches:
      - main # default branch
    paths:
      - docs/**/**
      - package.json
      - .github/workflows/main.yml
jobs:
  pages:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Use Node.js LTS
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm
      - name: Install Dependencies
        run: pnpm install
      - name: Build
        timeout-minutes: 2
        run: |
           export NODE_OPTIONS="--max-old-space-size=2048"
           pnpm run docs:build
           echo done.
           pkill -f node || true

      - name: Deploy
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./docs/.vitepress/dist
  deploy:
    if: github.ref == 'refs/heads/main'
    needs: pages
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
